% -*- mode: erlang; -*-

{deps, [{cowboy, {git, "git://github.com/ninenines/cowboy.git",
                 {tag, "2.6.3"}}}]}.

{shell, [{apps, [seneh]}]}.     % starts application within shell

{profiles, [{test, [{erl_opts, [debug_info]}, % http://erlang.org/doc/man/compile.html
                    {deps, [{meck, {git, "git://github.com/eproxus/meck.git",
                                   {tag, "0.8.9"}}}]}]}]}.

{relx, [{release, {"seneh-dev", "0.0.1"}, ["seneh"]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
