% -*- mode: erlang; -*-
% http://erlang.org/doc/man/compile.html
{erl_opts, [debug_info]}.
{deps, [{cowboy, {git, "git://github.com/ninenines/cowboy.git",
                 {tag, "2.7.0"}}}]}.

{shell, [{apps, [seneh]}]}.     % starts application within shell

{relx, [{release, {seneh, "0.1.0"},
         [seneh]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, false},
        {include_libs, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]},
            {test, [{deps, [{meck, {git, "git://github.com/eproxus/meck.git",
                                               {tag, "0.8.9"}}}]}]}]}.
